.contact-form {
    margin-top: 40px;
    width: 100%;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s forwards;
            clear: both;
        }

        li.half{
            width: 49%;
            float: left;
            margin-left: 2%;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        padding: 10px;
        border: 0;
        border-radius: 5px;
        font-size: 16px;
        background: #093b56;
        color: aliceblue;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: 0;
        border-radius: 5px;
        font-size: 16px;
        background: #093b56;
        color: aliceblue;
        box-sizing: border-box;
        height: 50px;
        min-height: 150px;
    }

    .flat-button {
        background: #093b56;
        color: #ff0000;
        padding: 10px;
        border: 1px solid #ff0000;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        float: right;
        opacity: 0.8;
        font-weight: 600;

        &:hover {
            background: #ff0000;
            color: #0d4f6e;
            opacity: 0.8;
        }
    }

    &::before {
        content: '<form>';
        font-family: 'La Belle Aurore';
        color: #00ff00;
        font-size: 18px;
        position: absolute;
        margin-top: -5%;
        opacity: 0.6;
        margin-left: -5%;
        animation: fadeIn 1s backwards;
    }

    &::after {
        content: '</form>';
        font-family: 'La Belle Aurore';
        color: #00ff00;
        font-size: 18px;
        position: absolute;
        opacity: 0.6;
        margin-left: -5%;
        animation: fadeIn 1s backwards;
    }
}

.info-map {
    position: absolute;
    background-color: #093b56;
    top: 45px;
    right: 20%;
    z-index: 1100;
    width: 267px;
    padding: 20px;
    color: aliceblue;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s forwards;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #ff0000;
    }
}

.map-wrap {
    background: #021b29;
    float: right;
    width: 43%;
    height: 100%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s forwards;
}

@media screen and (max-width: 1200px) {
    .contact-page h1 {
        margin: 0;
        margin-top: -20px;
    }

    .contact-page p {
        margin: 0;
    }

    .contact-form {
        margin-top: 10px;

        input[type='text'],
        input[type='email'] {
            padding: 5px 10px;
            font-size: 12px;
        }

        textarea {
            padding: 5px 10px;
            font-size: 12px;
            min-height: 70px;
        }

        .flat-button {
            padding: 5px;
            font-size: 12px;
        }
    }

    .contact-form ul li {
        margin-bottom: 5px;
    }

    .map-wrap {
        float: none;
        margin: 0;
        width: 100%;
        height: 400px;
    }

    .info-map {
        top: 300px;
        right: 1%;
        font-size: 9px;
        width: 120px;
        padding: 5px;

        span {
            font-size: 7px;
            color: aqua;
        }
    }

    .contact-form::before,
    .contact-form::after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .contact-page h1 {
        font-size: 28px;
        margin-left: -10px;
    }
}